<% if questions.any? %>
  <div>
    <% questions.each do |question| %>
      <div class="col-sm-6 offset-sm-3">
        <div>
          <div class="border">
            <%= "(回答数: #{question.answers.size})" %><%= link_to simple_format(question.content), question %>
          </div>
          <div class="mb-3">
            <%= link_to question.user.name, user_path(question.user) %><span class="text-dark text-left"> <%= question.created_at.strftime '%Y/%m/%d' %></span>
          </div>
        </div>
        <div>
          <% if current_user == question.user %>
            <%= link_to "Delete", question, method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-danger btn-sm' %>
          <% end %>
          <%= render 'favorites/favorite_button', question: question %>
        </div>
      </div>
    <% end %>
  </div>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>
