<div class="text-center mb-5">
  <h1>質問詳細</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="inline-brock">
      <div class="text-start">
        <span class="text-dark "><%= @question.user.name %> <%= @question.created_at.strftime '%Y/%m/%d' %></span>
      </div>
      <div class="border">
        <p><%= @question.content %></p>
      </div>
    </div> 
  </div>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="inline-brock">
      <% @question.answers.each do |answer| %>
        <div class="text-start">
          <%= link_to answer.user.name, user_path(answer.user) %><span class="text-dark"> <%= answer.created_at.strftime '%Y/%m/%d' %></span>
        </div>
        <div class="border">
          <p><%= answer.content %></p>
        </div>
      <% end %>
    </div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
  
<div class="row">
  <div class="col-sm-8 offset-sm-2 text-center">
    <%= form_with(model: [@question, @answer]) do |f| %>
      <div class="mb-4">
        <%= f.text_area :content, class: 'form-control', rows:8 %>
      </div>
      <%= f.submit '回答する', class: 'btn btn-primary w-50' %>
    <% end %>
  </div>
</div>

