<% if logged_in? %>
  <div class="text-center">
    <h1 class="mb-5">質問一覧</h1>
  </div>
  <div class="row">
    <div class="col-sm-8">
        <% if @questions.any? %>
          <div class="row">
            <% @questions.each do |question| %>
                <div>
                  <div class="border">
                    <%= "(回答数: #{question.answers.size})" %><%= link_to simple_format(question.content), question %>
                  </div>
                  <div class="mb-5 text-end">
                    <%= link_to question.user.name, user_path(question.user) %><span class="text-dark text-left"> <%= question.created_at.strftime '%Y/%m/%d' %></span>
                  </div>
                </div>
            <% end %>
          </div>
          <div class="d-flex flex-row justify-content-evenly">
          <%== pagy_bootstrap_nav(@pagy) %>
          </div>
        <% end %>
    </div>
  </div>
<% else %>
  <div class="bg-light p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-dark">
      <h1>StudyWithで学習をより良いものに</h1>
    </div>
  </div>
  
  <div class="bg-light p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-dark">
      <h2>StudyWithは学習を共有する場です。</h2>
      <p>分からないことがある人は質問によるインプットを、<br>
      知識がある人は質問回答によるアウトプットを行うことで<br>
      お互いの学力向上につなげましょう！</p>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <%= link_to '一緒に学習したい方はこちら', signup_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<%  end %>